@mixin position ($position: relative, $coordinates: null, $z: null) {
  $props: top right bottom left;
  $coordinates: unpack($coordinates);

  position: $position;
  @if ($z) {
    z-index: $z;
  }

  @for $i from 1 through 4 {
    $coordinate: nth($coordinates, $i);
    @if ($coordinate == auto) or (type-of($coordinate) == number) {
      #{nth($props, $i)}: $coordinate;
    }
  }
}