body {
  font-size: $base--font-size;
  line-height: $base--line-height;
  margin: 0;
  @include respond-to($media-query--medium) {
    font-size: $base--font-size * 1.125;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  line-height: $base--line-height - 0.25;
  margin: 0 0 0.75em;
}

h1 {
  font-size: $base--font-size * 2.35;
  margin: 0.67em 0
}

h2 {
  font-size: $base--font-size * 2;
  margin: 0.83em 0
}

h3 {
  font-size: $base--font-size * 1.75;
  margin: 1em 0
}

h4 {
  font-size: $base--font-size * 1.5;
  margin: 1.33em 0
}

h5 {
  font-size: $base--font-size * 1.25;
  margin: 1.67em 0
}

h6 {
  font-size: $base--font-size;
  margin: 2.33em 0
}

p {
  margin: 0 0 ($base--spacing / 2)
}

ul,
ol {
  margin: 0 0 ($base--spacing / 2);
  padding: 0 0 0 ($base--spacing * 2);
}

dl {
  margin: 0 0 ($base--spacing / 2);
}

dt {
  font-weight: bold;
  margin-top: ($base--spacing / 2)
}


table {
  margin: 0 0 ($base--spacing / 2);
  width: 100%;
  table-layout: fixed
}

tr, 
td,
th {
  vertical-align: middle
}

th,
td {
  padding: ($base--spacing / 2) 0
}

th {
  font-weight: bold;
  text-align: left
}

fieldset {
  margin: 0 0 ($base--spacing / 2)
}

blockquote {
  margin: $base--spacing 0;
}

hr {
  margin: $base--spacing 0;
  border-width: 0;
  border-bottom: $base--border
}

figure {
  margin: 0 0 ($base--spacing / 2)
}

img {
  max-width: 100%;
  height: auto;
  display: block
}

a {
  &:focus {
    outline: thin dotted;
  }
  &:active,
  &:hover {
    outline: 0;
  }
}