.button {
  display: inline-block;
  cursor: pointer;
  padding: 0.5em 1em;
  border: none rgba(0, 0, 0, 0);
  border-radius: 2px;
  background-color: #E6E6E6;
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  user-select: none;
  line-height: inherit;
  text-transform: uppercase;

  &:focus {
    outline: 0;
  }

  &:active {
    box-shadow:
      0 0 0 1px rgba(0,0,0, 0.15) inset, 
      0 0 6px rgba(0,0,0, 0.20) inset;
  }
  
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &--primary {
    background-color: $color--primary;
    color: $color--white;
  } 

}