#{$all-button-inputs},
button {
  -webkit-font-smoothing: antialiased;
  @include appearance(none);
  background: none;
  border-radius: $base-border-radius;
  border: 5px solid darken($hot-pink, 10%);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: darken($hot-pink, 15%);
    color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
