<div class="card bounce-in-up">
  <div class="card--image" v-style="background-image: 'url(' + photo + ')'"></div>
  <div class="card-info">
    <h1 class="card--nickname">{{ nickname }}</h1>
    <h2 class="card--team">{{ team }}</h2>

    <div class="card--minor-info">
      <h3 class="card--position">{{ position }}</h3>
      <h3 class="card--bats">{{ bats }}</h3>
    </div>

    <div class="card--bio-info">
      <h4>Bio</h4>
      <p>{{ story }}</p>
    </div>
  </div>

  <div class="card--number">
    <h3>{{ number }}</h3>
  </div>

  <div class="card-stats">
    <table>
      <thead>
        <tr>
          <th>G</th>
          <th>AB</th>
          <th>H</th>
          <th>2B</th>
          <th>3B</th>
          <th>HR</th>
          <th>RBI</th>
          <th>AVG</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ G }}</td>
          <td>{{ AB }}</td>
          <td>{{ H }}</td>
          <td>{{ B2 }}</td>
          <td>{{ B3 }}</td>
          <td>{{ HR }}</td>
          <td>{{ RBI }}</td>
          <td>{{ AVG | fixed 3 }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
