// Screen Size
$media-query--small: "(min-width: 550px)";
$media-query--medium: "(min-width: 760px)";
$media-query--large: "(min-width: 960px)";

// Screen Density
$media-query--retina-2x: "(min-resolution 192dpi)";
