// Colors
$color--black: #000;
$color--white: #fff;
$color--light-gray: #999;
$color--gray: #555;
$color--dark-gray: #111;

$color--green: hsl(110, 39%, 52%);
$color--blue: hsl(209, 39%, 52%);
$color--yellow: hsl(55, 39%, 52%);
$color--orange: hsl(13, 39%, 52%);

// Colors Abstracted
$color--primary: $color--gray;
$color--secondary: $color--gray;
$color--tertiary: $color--gray;